body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.filters {
    margin: 20px;
}

.house {
    background: white;
    margin: 15px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}